body {
    background-color: black;
  }
  .prvi {
    width: 700px;
    margin-left: 700px;
  }
  h1 {
    color: white;
    font-style: italic;
  }
  img {
    border: 10px solid white;
    margin: 20%;
    margin-bottom: 0;
  }
  p {
    color: white;
    font-size: 30px;
  }